In [1]:
import pandas as pd

In [7]:
## Load the dataset

data = pd.read_csv('bank_marketing_data.csv', sep=';')

In [8]:
# Display the few rows

data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Data Preprocessing

In [9]:
# Check for duplicates
duplicates = data.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

# Remove duplicates if any
if duplicates > 0:
    data = data.drop_duplicates()
    print(f"Duplicates removed. New number of rows: {data.shape[0]}")

# Check for null values
null_values = data.isnull().sum()
print("\nNull values in each column:")
print(null_values[null_values > 0])

# Remove rows with null values
if null_values.sum() > 0:
    data.dropna(inplace=True)
    print(f"Rows with null values removed. New number of rows: {data.shape[0]}")

# Display data types and basic statistics
print("\nData Types and Basic Statistics:")
print(data.info())
print(data.describe())

# Save the cleaned data to a CSV file
data.to_csv('Bank_Marketing_data_cleaned.csv', index=False)
print("\nCleaned data saved as 'Bank_Marketing_data_cleaned.csv'.")

Number of duplicate rows: 12
Duplicates removed. New number of rows: 41176

Null values in each column:
Series([], dtype: int64)

Data Types and Basic Statistics:
<class 'pandas.core.frame.DataFrame'>
Index: 41176 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41176 non-null  int64
 1   job             41176 non-null  object
 2   marital         41176 non-null  object
 3   education       41176 non-null  object
 4   default         41176 non-null  object
 5   housing         41176 non-null  object
 6   loan            41176 non-null  object
 7   contact         41176 non-null  object
 8   month           41176 non-null  object
 9   day_of_week     41176 non-null  object
 10  duration        41176 non-null  int64
 11  campaign        41176 non-null  int64
 12  pdays           41176 non-null  int64
 13  previous        41176 non-null  int64
 14  poutcome        41176 non-null  object
 15  emp.var.rate    41176 non-null  float64
 16  cons.price.idx  41176 non-null  float64
 17  cons.conf.idx   41176 non-null  float64
 18  euribor3m       41176 non-null  float64
 19  nr.employed     41176 non-null  float64
 20  y               41176 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.9+ MB
None
               age      duration      campaign         pdays      previous  \
count  41176.00000  41176.000000  41176.000000  41176.000000  41176.000000
mean      40.02380    258.315815      2.567879    962.464810      0.173013
std       10.42068    259.305321      2.770318    186.937102      0.494964
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41176.000000    41176.000000   41176.000000  41176.000000  41176.000000
mean       0.081922       93.575720     -40.502863      3.621293   5167.034870
std        1.570883        0.578839       4.627860      1.734437     72.251364
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000

Cleaned data saved as 'Bank_Marketing_data_cleaned.csv'.